<div class="container mt-5">
    <div class="row justify-content-center"> Create Task</div>
    <div class="justify-content-center mt-5 col col-ms-10">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">
            <div class="row col col-md-11">
                <input type="text" class="form-control" placeholder="Title" id="title" formControlName="title">
            </div>
            <div class="row  col col-md-11 mt-2">
                <input type="textarea" class="form-control" placeholder="Description" id="description" formControlName="description">
            </div>
            <div class="row mt-2">
                <div class="col col-md-5">
                    <input type="text" class="form-control" placeholder="Assignie" id="assignie" formControlName="assignie">
                </div>
                <div class="col col-md-5 ml-5">
                        <select class="custom-select" id="inputGroupSelect01" formControlName="priority">
                            <option selected>Priority</option>
                            <option value="1">High</option>
                            <option value="2">Medium</option>
                            <option value="3">Low</option>
                        </select>
                    </div>
            </div>
           <div class="row mt-2">
                <div class="col col-md-5">
                        <input type="text" class="form-control" placeholder="category" id="category" formControlName="category">
                    </div>
                    <div class="col col-md-5 ml-5">
                        <input type="date" class="form-control" placeholder="DueDate" id="dueDate" formControlName="dueDate">
                    </div>
           </div>
           

            <div class="row mt-5 justify-content-center">
                <button class="btn btn-primary" type="submit"> Create</button>
                <button class="btn btn-danger ml-5"> Cancel</button>
            </div>
        </form>
    </div>
</div>