<!-- <mat-toolbar>
    <button routerLink="/signin" mat-raised-button color="primary">signin</button>
    <button mat-button  routerLink="/register" color="primary" > Register</button>
    <button mat-button routerLink="" color="primary" >Home </button>
</mat-toolbar> -->

<nav class="navbar navbar-light bg-light">
    <!-- <button mat-button routerLink="" color="primary" >Home </button> -->
    <button routerLink="/signin" mat-raised-button color="primary">signin</button>
    <button mat-button  routerLink="/register" color="primary" > Register</button>
</nav>

<router-outlet></router-outlet>
