<div class="row justify-content-center align-items-center aligin-vertical">
  <div class="col col-md-10 col-md-offset-2">
    <!-- <div class="jumbotron"> -->
        <div class="row justify-content-center container-title"> Welcome to Task Organizer </div>
         <div>
           <div class="row justify-content-center"> You can crete task and organize </div>
           <div class="mt-2 row justify-content-center">
              <span> Do you want new task? </span>
              <span>
                <a routerLink="/create" color="primary"> Create Task</a>
              </span>
            </div>
          
         <!-- </div> -->
    </div>
  </div>
</div>